//@use "partials/_subreddit-form.scss";
@use "partials/reset";
@use 'partials/base';
@use 'partials/results';

body {

}

.content {
  margin-top: 15%;
  text-align: center;

  p {
    margin: 0;
  }
}

input {
  max-width: 30vw;
}