extends layout

block content
  h1 AnyDeal pen
  p Welcome to #{title}

  form(name="subreddit-search-pick" class="subreddit-form")
    input(type="text" required)
  script(src='./javascripts/script.js') 