extends layout

block content
  header
    .header-intro
      h1 AnyDeal💰
      p We save you monies 
    form(id="subreddit-form" method='get' action='results' autocomplete='off')
      input(name="subreddit" type="text" list="subreddits" id="subreddit-input" placeholder='Search subreddit here' required)
      datalist(id="subreddits")
        each item in whiteList
          option(value=item)
  .results-container
  script(src='./javascripts/script.js') 
