extends layout 

block content
  ol
    each item in subResults
      li 
        p= item.data.title
        img(src= item.data.thumbnail alt="no image available")
        
        a(href= item.data.url) #{item.data.url}