.results-container {
  padding: 0 2rem;
  max-width: 900px;
  margin: 0 auto;


  ul li {
    width: 100%;
    position: relative;
    margin: 1.5rem;
    padding: 1.25rem;

    background-color: whitesmoke;
    border: 2px solid black;

    display: grid;
    grid-template-rows: fit-content;
    grid-template-columns: fit-content 1fr;
    align-items: center;
  }
}

.result-info-container {
  max-width: inherit;
  padding: 0 1.25rem;

  /*  display: flex;
  flex-direction: column; */

  p {
    margin-bottom: 1rem;
  }

  a {
    display: block;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}